@model WebUser

@{
    ViewData["Title"] = "User - Update";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Update" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="UserName">UserName</label>
        <input class="form-control" asp-for="UserName">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Password">Password</label>
        <input class="form-control" asp-for="Password">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Phone">Phone</label>
        <input class="form-control" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Theme">Theme</label>
        <input class="form-control" asp-for="Theme">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>